# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Mac
.DS_Store

# Node
node_modules/
.next/

# Logs
*.log

# Models
*.pt
*.pth
*.ckpt
*.bin

# Data
dataset/
artifacts/
outputs/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Environment
.env.local

dataset/
frontend/node_modules/
frontend/.next/
artifacts/
*.pt
*.pth
*.bin
*.ckpt